
.message-agency{
    margin-top: 50px;

}
.message-agency h1{
    text-align: center;
    color: white
}

.message-agency p{
    text-align: center;
    font-size: 25px;
    color: white;
}


#img-agency{
    width: 500px;
    height: 600px;
    margin-top: 50px;
}
