.message{
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    
 
}


.registration-data h2{
    color:white;

}
label{
    color: white;
}
.measures h2{
    color: white;
}

.input-file h2{
    color: white;
}

#submit{
    background-color: rgb(230, 201, 130);
    color: rgb(48, 48, 104);
    border: none;
}


#submit:hover{

    background-color: darkgoldenrod;
    color: white;


}
